/*
Ceci est une déclaration de variable.
Les variables peuvent être utilisé dans tout
notre code SASS.

Elle permet de ne pas avoir à copier/coller
certaines informations (comme par éxemple
des couleurs).
*/
$lightBlue: #556f7a;
$darkBlue: #193b46;
$pink: #dbbdd6;
$desktopBreakpoint: 1366px