@use "../variables" as var;

$cardDefaultPaddding: 15px;
$cardSmallPaddding: 12px;

/* Définie le style d'une carte */
.card {
    background-color: var.$darkBlue;
    color: white;
    min-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;

    /*
    Désigne le header de la carte
    */
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $cardDefaultPaddding;

        /*
        On display flex le thumbnail et le stats
        */
        .thumbnail, .stats {
            display: flex;
        }

        /*
        ON désigne nore thumbnail
        */
        .thumbnail {
            align-items: center;

            .post-label {
                p {
                    margin: 5px 0px;
                }
                .username {
                    font-size: 1.2em;
                }
            }
        }

        /*
        On désigne notre image de profile
        */
        .profile-picture {
            margin-right: $cardSmallPaddding;

            img {
                max-height: 80px;
                border-radius: 100%;
            }
        }

        /*
        On designé les stats
        */
        .stats {
            .unit {
                margin-right: $cardSmallPaddding;
            }
        }
    }
}
