@use "../variables" as var;

$cardDefaultPaddding: 15px;
$cardSmallPaddding: 12px;

/*
Nous créons une "keyframes" afin de définir
les étapes de notre animation
*/
@keyframes zoom {
    /*
    Ici nous définissons l'étape initiale
    */
    0% {
        transform: scale(1);
    }

    /*
    Ici nous définissons l'étape de fin
    */
    100% {
        transform: scale(1.1);
    }
}

/* Définie le style d'une carte */
.card {
    background-color: var.$darkBlue;
    color: white;
    min-width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition-property: transform;
    transition-duration: .5s;

    &:hover {
        /* On applique notre animation zoom */
        animation: zoom 0.5s infinite;
        animation-direction: alternate;
    }

    /*
    Désigne le header de la carte
    */
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $cardDefaultPaddding;
        padding-bottom: 0px;

        /*
        On display flex le thumbnail et le stats
        */
        .thumbnail, .stats {
            display: flex;
        }

        /*
        ON désigne nore thumbnail
        */
        .thumbnail {
            align-items: center;

            .post-label {
                p {
                    margin: 5px 0px;
                }
                .username {
                    font-size: 1.2em;
                }
            }
        }

        /*
        On désigne notre image de profile
        */
        .profile-picture {
            margin-right: $cardSmallPaddding;

            img {
                max-height: 80px;
                border-radius: 100%;
            }
        }

        /*
        On designé les stats
        */
        .stats {
            .unit {
                margin-right: $cardSmallPaddding;
            }
        }
    }

    /*
    Désigne le contenu de la carte
    */
    .card-content {
        padding: $cardDefaultPaddding;
        padding-top: 0px;

        .image-container {
            width: 100%;
            display: flex;
            justify-content: center;
            max-height: 300px;

            img {
                min-width: 100%;

                /*
                Object fit permet de définir le comportement
                d'une image à l'intérieur de son cadre.
                cf: https://css-tricks.com/almanac/properties/o/object-fit/
                */
                object-fit: cover;
            }
        }

        /*
        Un éxemple d'utilisation de mixin:
        Ici on désactive les video (display: none) pour les
        écrans entre 480px et 1024px:

            video {
                @include var.changeDisplayForScreenSize(
                    480px,
                    1024px,
                    none,
                );
            }
        */

        .centered-content {
            display: flex;
            justify-content: center;
        }
    }

    /*
    On design le card footer
    */
    .card-footer {
        border-top: 1px solid var.$lightBlue;
        display: flex;

        .button {
            color: white;
            background: none;
            outline: none;
            border: 1px solid var.$lightBlue;
            padding: $cardSmallPaddding;
        }
    }
}
