/* On applique un flex-grow sur notre content
afin qu'il prenne l'espace entre deux autre
block */
.content {
    flex-grow: 2;
    background-color: $lightBlue;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Définie un container central de largeur fixe */
    .container {
        width: 650px;
        padding-top: 10px;
    }
}


